.container {
    margin: 24px;
    display: flex;
    flex-direction: column;
}

sp-tab, .option{
    width: 100% !important;
}

.rows_col {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.wrap {
    flex-wrap: wrap;
}

.table-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

.table-container {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    margin-top: 1rem;
}

.columns-selection, .row, .column{
    width: 45.5% ;
}

h3{
    margin-bottom: 0.5rem;
}
.choose{
    margin-top: 2px;
    margin-bottom: 0.5rem;
}
.selected-file span{
    color: blue;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.import{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-icon {
    background: url(../../images/table_green.png);
    
}